{% extends "admin/challenges/create.html" %}

{% block header %}
<div class="alert alert-secondary" role="alert">
	Container challenges dynamically spin up a Docker container for each team to run the challenge on.
</div>
{% endblock %}

{% block value %}
<div class="form-group">
	<label for="value">Initial Value<br>
		<small class="form-text text-muted">
			This is how many points the challenge is worth initially.
		</small>
	</label>
	<input type="number" class="form-control" name="initial" placeholder="Enter value" required>

</div>

<div class="form-group">
	<label for="value">Decay Limit<br>
		<small class="form-text text-muted">
			The amount of solves before the challenge reaches its minimum value
		</small>
	</label>
	<input type="number" class="form-control" name="decay" placeholder="Enter decay limit" required>
</div>

<div class="form-group">
	<label for="value">Minimum Value<br>
		<small class="form-text text-muted">
			This is the lowest that the challenge can be worth
		</small>
	</label>
	<input type="number" class="form-control" name="minimum" placeholder="Enter minimum value" required>
</div>

<div class="form-group">
	<label>
		Image<br>
		<small class="form-text text-muted">
			Name of the Docker image to spin up
		</small>
	</label>
	<select type="text" class="form-control" name="image" placeholder="Enter image" id="container-image"
		title="Name of the Docker image to spin up" required disabled>
		<option value="" id="container-image-default" disabled selected>Loading...</option>
	</select>
</div>

<div class="form-group">
	<label>
		Port<br>
		<small class="form-text text-muted">
			Internal container port that should be exposed (external port will be automatically assigned)
		</small>
	</label>
	<input type="number" class="form-control" name="port" placeholder="Enter port" required>
</div>

<div class="form-group">
	<label>
		Command<br>
		<small class="form-text text-muted">
			Command to run in the Docker container
		</small>
	</label>
	<input type="text" class="form-control" name="command" placeholder="Enter command or leave blank">
</div>

<div class="form-group">
	<label>
		Volumes<br>
		<small class="form-text text-muted">
			Custom volumes to mount, in JSON. E.g.
			<pre>{"/home/user1/": {"bind": "/mnt/vol2", "mode": "rw"}, "/var/www": {"bind": "/mnt/vol1", "mode": "ro"}}</pre>
		</small>
	</label>
	<input type="text" class="form-control" name="volumes" placeholder="Enter volumes or leave blank">
</div>
{% endblock %}

{% block type %}
<input type="hidden" value="container" name="type" id="chaltype">
{% endblock %}