{% extends 'admin/base.html' %}
{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Docker Config</h1>
	</div>
</div>
<div class="container">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-danger" role="alert">
		{{ message }}
	</div>
	{% endfor %}
	{% endif %}
	{% endwith %}
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<form method="post" action="/containers/api/settings/update" accept-charset="utf-8" autocomplete="off"
				role="form" class="form-horizontal" enctype="multipart/form-data">
				<div class="form-group">
					<label for="docker_base_url">
						Base URL (see instructions)
					</label>
					<input class="form-control" type="text" name="docker_base_url" id="docker_base_url"
						placeholder="E.g. unix://var/run/docker.sock or ssh://root@example.com"
						value='{{ settings.docker_base_url|default("") }}' />
				</div>
				<div class="form-group">
					<label for="docker_hostname">
						Hostname for Docker Host (this is what's displayed to the user in the connection string)
					</label>
					<input class="form-control" type="text" name="docker_hostname" id="docker_hostname"
						placeholder="e.g. example.com or 10.0.1.8" value='{{ settings.docker_hostname|default("") }}' />
				</div>
				<div class="form-group">
					<label for="container_expiration">
						Container Expiration in Minutes (how long a container will last before it's killed; 0 = never)
					</label>
					<input class="form-control" type="text" name="container_expiration" id="container_expiration"
						placeholder="e.g. 30" value='{{ settings.container_expiration|default("") }}' />
				</div>
				<div class="form-group">
					<label for="container_maxmemory">
						Maximum per-container memory usage (in MB)
					</label>
					<input class="form-control" type="number" name="container_maxmemory" id="container_maxmemory"
						placeholder="e.g. 1000" value='{{ settings.container_maxmemory|default("") }}' />
				</div>
				<div class="form-group">
					<label for="container_maxcpu">
						Maximum per-container CPUs (float, e.g 1.5 means 1.5 cores at most)
					</label>
					<input class="form-control" type="text" name="container_maxcpu" id="container_maxcpu"
						placeholder="e.g. 1.5" value='{{ settings.container_maxcpu|default("") }}' />
				</div>
				<div class="col-md-13 text-center">
					<button type="submit" tabindex="0" class="btn btn-md btn-success btn-outlined">
						Submit
					</button>
					<a class="btn btn-danger" href="{{ url_for('.route_containers_dashboard') }}">Cancel</a>
				</div>
		</div>
		<input type="hidden" name="nonce" value="{{ Session.nonce }}">
		</form>
	</div>
	<h3>Instructions</h3>
	<p>
		The Base URL should be the local socket address of the Docker daemon, i.e.
		<code>unix://var/run/docker.sock</code>, or it can be a remote SSH address, e.g.
		<code>ssh://root@example.com</code>. In either case, sudo will not be executed. For a local socket, the user
		CTFd is running as should have permissions for Docker; for SSH connections, the SSH user in the Base URL should
		be root or have Docker permissions.
	</p>
</div>
{% endblock content %}
{% block scripts %}
<script>



</script>
{% endblock scripts %}